:root{
    font-size: 15px;
}
:root.theme-dark{
    --fundo-principal: #1D252C; 
    --fundo-principal-opaco: #1d252cd0;
    --fundo-secundario: #424547;
    --neutra1: #B7C5D3;
    --neutra2: #686969;
    --neutra3: #b7c5d336;
    --primaria1: #008B94; 
    --primaria2: #33CED8;
    --primaria3: #68A1F0;
    --secundaria1: #DA70D6;
    --secundaria2: #FFD70D;
    --terciaria1: #A68C66;
    --validacao1: #8BD199;
    --validacao2: #E27E78;
}
:root.theme-light{
   --fundo-principal: #eff1f1; 
   --fundo-principal-opaco: #d1d3d4d0;
   --fundo-secundario: #d9d9da;
   --neutra1: #24272a;
   --neutra2: #141414;
   --neutra3: #24272a36;
   --primaria1: #008B94; 
   --primaria2: #33CED8;
   --primaria3: #68A1F0;
}
*{
    padding:0;
    margin:0;
    outline: 0;
    box-sizing: border-box;
    user-select: none;
    font-family: Ubuntu;
    text-decoration: none;
}
html.theme-light .itens{
   color: var(--fundo-principal);
}
body{
    background-color: var(--fundo-principal);
}
a{
    transition: 0.5s;
}
a, a:visited{
    color:unset;
}
.wrapper-login{
    border: 1px solid var(--neutra1);
    color: var(--neutra1);
    width: 25%;
    height: auto;
    margin: 5% auto;
    padding: 50px;
    text-align: center;
    position: relative;
    z-index: 3;
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
}
.wrapper-login h2{
    margin: 5%;
}
.logo-wrapper-login{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5%;
}
.txt-login, .btn-login-entrar{
    width: 100%;
    height: 50px;
    margin: 2%;
    font-size: 1.115rem;
    padding: 2%;
    color: var(--neutra1);
}
.txt-login{
    background-color: var(--fundo-principal);
    border: 1px solid var(--neutra1);
}
.btn-login-entrar{
    background-color: var(--fundo-principal);
    border: 1px solid var(--neutra1);
    font-weight: bold;
    transition: 0.5s;
}
.btn-login-entrar:hover{
    background-color: var(--primaria2);
    border: 0;
    color: var(--fundo-principal);
}
header a:hover{
    color: var(--primaria2);
}
.btn-logout a:hover{
    color: var(--fundo-principal);
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--neutra1);
    padding: 20px 5%;
    border-bottom: 1px solid var(--neutra3);
}
header .logo-wrapper{
    display: flex;
    align-items: center;
}
ul li{
    list-style:none;
    margin: 5% 0;
}
 i{
   margin-right: 2%;
}
.menu-suspenso{
   display: none;
}
.menu-suspenso.ativo{
   display: block;
   background-color: var(--fundo-principal);
   border: 1px solid var(--primaria2);
   min-width: 300px;
   word-wrap: break-word;
   height: auto;
   position: absolute;
   padding: 1%;
   z-index: 3;
   top: 5%;
   right: 6%;
   animation: showMenuSuspenso .5s forwards;
}
hr{
   border-top: 1px solid var(--neutra2) 0 0 0;
}
.btn-logout, .btn-options{
   background-color: var(--fundo-principal);
   border: 1px solid var(--validacao2);
   color: var(--validacao2);
   padding: 3%;
   width: 100%;
   transition: .5s;
}
.btn-logout:hover, .btn-options:hover{
   background-color: var(--neutra1);
   color: var(--fundo-principal);
}
.btn-options{
   border: 1px solid var(--neutra3);
   color: var(--neutra3);
}
.img-perfil{
   position: relative;
   z-index: 4;
   max-width: 32px;
   max-height: 32px;
   border-radius: 50%;
   margin-left: 5%;
   transition: 0.5s;
}
.img-perfil:hover{
    border: 1px solid var(--primaria2);
    transform: scale(1.1);
}
main{
    display: grid;
    grid-template-columns: repeat(4, minmax(auto, 1fr));
    grid-auto-rows: minmax(250px, 300px);
    gap: 10px;
    align-items:center;
    justify-items: center;   
    position: relative;
    border: 1px solid var(--neutra1);
    width: auto;
    height: auto;
    margin: 5% 5% 2% 5%;
    padding: 15px;
}
.add-item, .itens{
    width: 100%;
    height: 100%;
    transition: 0.5s;
}
.add-item{
    border: 1px dotted var(--neutra1);
    display: grid;
}
.add-item:hover{
    background-color: var(--fundo-secundario);
}
.add-item:active{
    transform: scale(0.95);
}
.fa-plus{
    font-size: 3.25em;
    align-self: center;
    justify-self: center;
    color: var(--primaria2);
}
.itens{
    background-color: var(--primaria1);
    color: var(--neutra1);
    font-size: 1.25rem;
    padding: 5%;
    text-align: right;
    display: flex;
    flex-direction: column;
    word-break:break-all;
    height: 100%;
    transition: 0.5s;
}
.itens:hover{
    background-color: var(--primaria2);
    color: var(--neutra2);
}
.itens-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.itens-data{
    font-size: 0.85rem;
}
.itens-acoes{
    display: flex;
    justify-content: start;
    align-items: end;
    gap: 5px;
    margin: 2%;
}
.fa-trash, .fa-pencil{
    transition: 0.5s;
}
.fa-trash:hover{
    color:var(--validacao2) ;
}
.fa-pencil:hover{
    color: var(--primaria3);
}
.modal-wrapper, .modal-wrapper-update{
    display: none;
}
.modal-wrapper.ativo, .modal-wrapper-update.ativo{
   background-color: var(--fundo-principal-opaco);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}
.modal-box{
   background-color: transparent;
   backdrop-filter: blur(13.5px);
   -webkit-backdrop-filter: blur(13.5px);
    border: 1px solid var(--neutra1);
    min-width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    position: relative;
    animation: fadein-modal-box 3s;
}
.txt-titulo, .txt-descricao, .txt-id-update, .txt-titulo-update, .txt-descricao-update{
   backdrop-filter: blur(13.5px);
   -webkit-backdrop-filter: blur(13.5px);
    display: block;
    background-color: transparent;
    border: 1px solid var(--neutra1);
    color: var(--neutra1);
    width: auto;
    min-width: 400px;
    height: 50px;
    font-size: 1.5rem;
    padding: 10px;
    margin: 10px;
}
.txt-descricao, .txt-descricao-update{
    resize: none;
    min-height: 250px;
}
.txt-id-update{
    cursor: not-allowed;
    user-select: none;
    text-indent:-9999px;
}
.txt-titulo:focus, .txt-descricao:focus, .txt-login:focus{
    border: 1px dashed var(--primaria2);
}
body::-webkit-scrollbar,.txt-descricao::-webkit-scrollbar {   
    background-color: var(--fundo-principal);   
}  
body::-webkit-scrollbar-thumb, .txt-descricao::-webkit-scrollbar-thumb{
    background-color: var(--neutra1);
    border-radius: 10px;
} 
.btn-fechar-modal, .btn-fechar-modal-update{
    position: absolute;
    top: -25px;
    left: 93%;
    font-size: 2.25rem;
    min-height: 50px;
    min-width: 50px;
    border-radius: 50%;
    border: 1px solid var(--neutra1);
    background-color:var(--fundo-principal);
    color:var(--neutra1);
    transition: 0.5s;
}
.btn-fechar-modal:hover, .btn-fechar-modal-update:hover{
    color: var(--validacao2);
    border: 1px solid var(--validacao2);
}
.counter-box{
    font-size: 1rem;
    color: var(--neutra1);
    width: 400px;
    display: flex;
    justify-content: end;
    margin: 0 10px;
    position: absolute;
    bottom: 85px;
    right: 25px;
}
.box-acoes-modal{
    width: 400px;
    margin: 10px;
    display: flex;
    justify-content: end;
}
.btn-save-modal{
    background-color: transparent;
    min-width: 100px;
    min-height: 30px;
    font-size: 2rem;
    color: var(--neutra1);
    border: 1px solid var(--neutra3);
    transition: 0.5s;
}
.btn-save-modal:hover{
    border: 1px solid var(--validacao1);
    color: var(--validacao1);
}
.menu-stats{
    margin: 0 5% 15% 5%;
    color: var(--neutra1);
    font-size: 1rem;
    display: flex;
    justify-content: end;
}
footer{
    width: 100%;
    height: 100px;
    background-color:var(--fundo-principal);
    border-top: 1px solid var(--neutra3);
    color: var(--neutra1);
    position: fixed;
    text-align: center;
    padding: 30px;
    margin: 5% 0 0 0;
    bottom: 0%;
}
@keyframes fadein-modal-box{
    from{
        transform: translate3d(0,-60px,0);
    }
    to{
        transform: translate3d(0,0,0);
    }
}
@keyframes showMenuSuspenso{
   from{
      opacity: 0;
      transform: translate3d(0,-10px,0);
   }
   to{
      opacity: 1;
      transform: translate3d(0,0,0);
   }
}
@media screen and (max-width: 1280px){
    main{
        grid-template-columns: repeat(3, minmax(auto, 1fr));
    }
}
@media screen and (max-width: 920px){
    main{
        grid-template-columns: repeat(2, minmax(auto, 1fr));
    }
}
@media screen and (max-width: 500px){
    main{
        grid-template-columns: repeat(1, minmax(auto, 1fr));
    }
    header ul li{
        display:none;
    }
    header div+div{
        max-width: 150px;
    }
}

/*ANIMATION BACKGROUND*/
.wrapper-background-animate-area{
    background-color: var(--fundo-principal);  
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
    width: 100%;
    height:100vh;
}
.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background-color: var(--primaria2);
    animation: animate 25s linear infinite;
    bottom: -150px;
}
.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}
.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}
.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}
.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}
.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}
.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}
.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}
.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}
.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}
.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}
@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}