:root{
    --fundo-principal: #1D252C; 
    --neutra1: #B7C5D3;
    --primaria1: #008B94; 
    --primaria2: #33CED8;
    --primaria3: #68A1F0;
    --secundaria1: #DA70D6;
    --secundaria2: #FFD70D;
    --terciaria1: #A68C66;
    --validacao1: #8BD199;
    --validacao2: #E27E78;
}
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    background-color: var(--fundo-principal);
}
main{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    align-items:center;
    justify-items: center;   
    position: absolute;
    border: 1px solid var(--neutra1);
    width: 80%;
    height: auto;
    margin: 20% 50%;
    padding: 15px;
    transform: translate(-50%, -50%);
}
.add-item{
    border: 1px dotted var(--neutra1);
    width: 300px;
    height: 300px;
}
.itens{
    background-color: var(--primaria1);
    width: 300px;
    height: 300px;
}