:root{
    --fundo-principal: #1D252C; 
    --fundo-secundario: #424547;
    --neutra1: #B7C5D3;
    --neutra2: #686969;
    --primaria1: #008B94; 
    --primaria2: #33CED8;
    --primaria3: #68A1F0;
    --secundaria1: #DA70D6;
    --secundaria2: #FFD70D;
    --terciaria1: #A68C66;
    --validacao1: #8BD199;
    --validacao2: #E27E78;
}
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    user-select: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    background-color: var(--fundo-principal);
}
main{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 250px;
    gap: 10px;
    align-items:center;
    justify-items: center;   
    position: absolute;
    border: 1px solid var(--neutra1);
    width: 80%;
    height: auto;
    margin: 0% 50%;
    padding: 15px;
    transform: translate(-50%, 50%);
}
.add-item, .itens{
    width: 100%;
    height: 100%;
    transition: 0.5s;
}
.add-item{
    border: 1px dotted var(--neutra1);
    display: grid;
}
.add-item:hover{
    background-color: var(--fundo-secundario);
}
.fa-plus{
    font-size: 50px;
    align-self: center;
    justify-self: center;
    color: var(--primaria2);
}
.itens{
    background-color: var(--primaria1);
    color: var(--neutra1);
    padding: 3%;
    text-align: right;
}
.itens:hover{
    background-color: var(--primaria2);
    color: var(--neutra2);
}
.itens h1{
    margin: 5% 0 5% 5%;
}
